<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% if (is_granted("ROLE_ADMIN")) %}
    <div class="menu">
        <a href="/">Home</a>
        <br>
        <a href="/admin/direction">direction</a>
        <a href="/admin/difficulty">difficulty</a>
        <a href="/admin/test">test</a>
        <a href="/admin/question">question</a>
        <a href="/admin/answer">answer</a>
    </div>
{% endif %}

{% block body %}
{% endblock %}
{% block javascripts %}
{% endblock %}
</body>
</html>
