<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="menu">
            <a href="/direction">direction</a>
            <a href="/difficulty">difficulty</a>
            <a href="/test">test</a>
            <a href="/question">question</a>
        </div>
        {% block body %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </body>
</html>
