{% extends 'base.html.twig' %}

{% block body %}
    <div class="difficulties-block">
        <ul class="list">
            {% for difficulty in difficulties %}
                <li class="item">
                    {#{% if difficulty.accessible %}#}
                    <a href="{{
                    path('app_test', {'difficultyName': difficulty.name, 'directionName': direction})
                    }}">
                        {{ difficulty.name }}
                        {#{% if (difficulty.passed) %}#}
                            {#(Passed)#}
                        {#{% elseif (not difficulty.passed)%}#}
                            {#{% if (difficulty.didNotPass and not difficulty.passed) %}#}
                                {#(Did not pass)#}
                            {#{% else %}#}
                                {#(Not passed)#}
                            {#{% endif %}#}
                        {#{% endif %}#}
                    </a>
                    {#{% else %}#}
                        {#{{ difficulty.name }}#}
                    {#{% endif %}#}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block javascripts %}

{% endblock %}

