{% extends 'base.html.twig' %}

{% block body %}
<div class="main-block">
    <h2>Testing</h2>
    <br>
    <a href="{{ path('choose_direction') }}">Choose direction</a>
</div>
{% endblock %}

{% block javascripts %}

{% endblock %}

