{% extends 'base.html.twig' %}

{% block body %}
    <div class="testing-block">
        <h3>Test</h3>
        <hr>
        <div class="question-block"></div>
        <div class="reply">reply</div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ asset('js/testing.js') }}"></script>
{% endblock %}

